.po-application {
  text-align: center;
  margin-top: 50px;
}
.po-application__block {
  position: relative;
  display: inline-block;
  margin: 0 15px 30px;
  padding: 40px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font: 17.33px $lightfont;
  width: 475px;
  height: 235px;
  overflow: hidden;
}
.po-application__list {
  //margin: 15px 0;
  text-align: left;
  font: 14.67px $basefont;
  li {
    list-style: decimal;
    margin-bottom: 3px;
  }
}
.po-application__button-box {
  margin-top: 50px;
}

.po-application__send-box {
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  left: 0;
  transition: .2s ease;
  height: 100%;
  width: 100%;
  background: #3e66c8;
  z-index: 2;
  color: #fff;
  &._show {
    transform: scaleX(1);
    top: 0;
  }
}

.po-application__send-text {
  margin: 80px 40px 0;
}