.po-user-box__img {
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.po-user-box__username {
  font-size: 18.67px;
  color: #3e66c8;
  margin: 10px 0 30px;
}

.po-user-box__usertype {
  font: 13.33px $mediumfont;
  &_moder {
    color: #000;
  }
  &_expert {
    color: #90be77;
  }
  &_admin {
    color: #ff3914;
  }
}

.po-user-box__service-links {
  margin-top: 20px;
  a {
    display: block;
    font-size: 12px;
    color: #2e5bc9;
    margin-bottom: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
}