.po__admin-tools {
  margin-bottom: -15px;
}

.po__admin-tools-label {
  font-size: 17.33px;
  color: #12275a;
}
.po__admin-tools-cell {
  padding-bottom: 15px;
  .button {
    margin-left: 12px;
  }
}