.advise {
  margin: 50px 0;
  h2 {
    font: 20px $mediumfont;
    color: #2e5bc9;
    margin: 0;
  }
}
.advice__box {
  margin-top: 10px;
  font-size: 0;
}
.advice__block {
  display: inline-block;
  vertical-align: top;
  transition: .5s;
  width: 33.33333%;
  height: 200px;
  background: #2e5bc9;
  &:hover {
    background: darken(#2e5bc9, 20%);
    .advice__img {
      transform: scale(.9,.9);
    }
  }

  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    .advice__img {
      float: right;
    }
  }
}
.advice__img,
.advice__content {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 200px;
}
.advice__img {
  transition: .5s;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advice__content {
  transition: .5s;
  padding: 10px;
  font-size: 19px;
  color: #fff;
}
.advice__text {
  max-height: 150px;
  overflow: hidden;
}
.advice__date {
  margin-top: 10px;
  svg {
    position: relative;
    margin-right: 5px;
    top: -2px;
    width: 15px;
    height: 16px;
    fill: #fff;
    vertical-align: middle;
  }
  font-size: 12px;
}

// advice-material

.advice-material {
  margin-top: 30px;
  h2 {
    font: 20px $mediumfont;
    color: #2e5bc9;
    margin-bottom: 10px;
  }
}

.advice-material__block {
  transition: .5s;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 14.67px;
  color: #3e66c8;
  width: 32.5%;
  height: 162px;
  padding: 10px;
  &:nth-of-type(2) {
    margin: 0 1.25%;
  }
  &:hover {
    background: #e7ffc6;
  }
}

.advice-material__img {
  float: left;
  width: 123px;
  height: 138px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advice-material__autor,
.advice-material__text {
  span {
    display: block;
    color: #333;
    margin-top: 2px;
  }
}

.advice-material__text {
  margin-top: 10px;
  height: 93px;
  overflow: hidden;
}