footer {
  border-top: 1px solid #b7b7b7;
}

.container_footer {
  height: 120px;
  padding-top: 20px;
}

.footer-table {
  display: table;
  width: 100%;
}

.footer-col {
  display: table-cell;
  vertical-align: middle;
  &.col2 {
    text-align: right;
  }
}

.footer__partners {
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    &.minobr {
      position: relative;
      top: -5px;
      img {
        height: 80px;
      }
    }
    &.informika {
      padding-top: 15px;
    }
    &.bdd {
      img {
        height: 54px;
      }
    }
  }
  img {
    height: 40px;
  }
}

.footer__copyright {
  margin-top: 10px;
  font-size: 14px;
  color: #949494;
}
