.index-header {
  position: relative;
  border-top: 1px solid #fff;
  background: #e7ffc6;
  h1 {
    font: 47.63px $mediumfont;
    color: #b82c2f;
    margin-top: 60px;
    span {
      display: block;
      font-size: 23.65px;
      color: #2e5bc9;
    }
  }
}

.index-header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 820px;
  background: url("/img/svg/bg_road.svg") no-repeat center top;
  background-size: 1300px 830px;
  opacity: .4;
  z-index: 0;
}

.container_index-header {
  position: relative;
  height: 820px;
}

.index-header__table {
  display: table;
  width: 100%;
  table-layout: fixed;
  .d-tc {
    vertical-align: top;
  }
}

.index-header__img {
  margin-top: 40px;
  img {
    max-width: 100%;
  }
}

// slider
.header-slider {
  position: relative;
  text-align: left;
}
.index-header {
  .bx-controls {
    position: relative;
    top: -60px;
  }
  .bx-pager {
    text-align: right;
    padding-right: 250px;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #960606;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: lighten(#960606, 10%);
  }
}

.header-slide {
  position: relative;
  color: #960606;
  padding-left: 50px;
}

.header-slide__back-element {
  opacity: .12;
  font: bold 135.14px/140px $basefont;
  height: 180px;
  span {
    display: block;
    font: bold 34.77px/40px $basefont;
  }
}

.header-slide__front-element {
  position: absolute;
  top: 36px;
  left: 50px;
  font: bold 79px/79px $basefont;
  span {
    display: block;
    font: bold 22.13px/40px $basefont;
  }
}

.header-categories {
  margin-top: 20px;
  text-align: center;
}

.header-category {
  transition: .5s;
  display: inline-block;
  position: relative;
  border: 20px solid #fff;
  border-radius: 3px;
  span {
    text-align: left;
    font-size: 26.67px;
    padding: 15px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &:nth-of-type(2) {
    margin: 0 20px;
  }
  &:hover {
    border-color: #9dc6de;
  }
}