.left-panel {
  font-size: 16px;
  display: inline-block;
  width: 320px;
  padding-right: 20px;
  &_privat-office {
    width: 215px;
    padding-right: 40px;
  }
}

.left-panel__cat-link {
  transition: .5s;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  &:hover {
    transform: translateX(10px);
  }
  span {
    position: absolute;
    transition: .5s;
    left: 15px;
    bottom: 15px;
    color: #fff;
    font-size: 26.67px;
    z-index: 2;
  }
}

.filters {
  h2 {
    color: #12275a;
    font: 20px $lightfont;
  }
}
.filters__box {
  margin: 10px 0 50px;
  padding: 15px;
  background: #f0f0f0;
  text-align: center;
}
.filters__block {
  margin-bottom: 20px;
  text-align: left;
  h3 {
    margin: 0 0 10px;
    font: 17.33px $lightfont;
    color: #2e5bc9;
    border-bottom: 1px solid #2e5bc9;
    padding-bottom: 5px;
  }
  .checkbox-item {
    display: block;
  }
  .checkbox-item__checkbox-label {
    padding-top: 2px;
    font-size: 13.33px;
  }
}
.filters__more-link {
  transition: .3s;
  font: 13px $lightfont;
  color: #2e5bc9;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid #2e5bc9;
  }
}