.teacher-info {
  margin-bottom: 20px;
  .button {
    margin-top: 20px;
    font-size: 13.33px;
  }
}

.teacher-info__img {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 290px;
}

.teacher-info__name {
  margin-top: 20px;
  font-size: 24px;
  color: #3e66c8;
}

.teacher-info__status {
  font: 13px $mediumfont;
  color: #6e6e6e;
  margin: 10px 0;
  text-transform: uppercase;
}

.teacher-info__school {
  font: 14.67px $lightfont;
  color: #12275a;
  span {
    font-family: $mediumfont;
  }
}