.svg-audio-dims {
	width: 59.9013901px;
	height: 51.2726669px;
}

.svg-calendar-dims {
	width: 11.2500229px;
	height: 11.9999151px;
}

.svg-clock-dims {
	width: 139.3905945px;
	height: 139.3906097px;
}

.svg-close-dims {
	width: 139.3905945px;
	height: 139.3906097px;
}

.svg-correct-mark-dims {
	width: 139.3905945px;
	height: 139.3906097px;
}

.svg-doc-list-dims {
	width: 285.8007813px;
	height: 375.3970032px;
}

.svg-double-arr-up-dims {
	width: 23.2516003px;
	height: 20.9913998px;
}

.svg-edit-dims {
	width: 328.00354px;
	height: 328.007782px;
}

.svg-h-flag-dims {
	width: 27.490366px;
	height: 38.6089783px;
}

.svg-h-folder-dims {
	width: 37.5107002px;
	height: 29.5550995px;
}

.svg-h-glasses-dims {
	width: 39.8090668px;
	height: 18.6375256px;
}

.svg-h-tablet-dims {
	width: 25.6991997px;
	height: 36.347599px;
}

.svg-h-traffic-light-dims {
	width: 25.1675892px;
	height: 31.6797009px;
}

.svg-play-dims {
	width: 59.6800957px;
	height: 59.6777px;
}

.svg-presentation-dims {
	width: 59.400425px;
	height: 56.9945984px;
}

.svg-star-dims {
	width: 10.8334999px;
	height: 10.4994993px;
}

.svg-stop-dims {
	width: 59.6796989px;
	height: 59.6777px;
}

.svg-tablet-dims {
	width: 25.6991997px;
	height: 36.347599px;
}

.svg-test-dims {
	width: 72.2175217px;
	height: 52.6329002px;
}

.svg-themes-type_camera-dims {
	width: 15.0004997px;
	height: 9.7510509px;
}

.svg-themes-type_comment-dims {
	width: 14.25px;
	height: 13.4997482px;
}

.svg-themes-type_eer-dims {
	width: 60px;
	height: 50.1161194px;
}

.svg-themes-type_foto-dims {
	width: 13.5018997px;
	height: 11.2496004px;
}

.svg-themes-type_infografics-dims {
	width: 59.702198px;
	height: 58.7331123px;
}

.svg-themes-type_pic-dims {
	width: 36px;
	height: 26.6396828px;
}

.svg-tier-dims {
	width: 392px;
	height: 348px;
}

.svg-tier-talk-dims {
	width: 365.6796875px;
	height: 391.1991882px;
}

.svg-trash-dims {
	width: 227.5546875px;
	height: 380.5039063px;
}

.svg-up-arr-dims {
	width: 23.2530003px;
	height: 14.2416992px;
}

.svg-user-icon-dims {
	width: 8.9915295px;
	height: 9.7503319px;
}

.svg-visitors-dims {
	width: 328.2158813px;
	height: 393.921875px;
}

.svg-zoom-loop-dims {
	width: 57.350235px;
	height: 57.4715462px;
}

