

$link-color: #2e5bc9;


// buttons
$color_common: #3882af;
$color_common-light: #77acce;
$color_common-dark: #3e66c8;

$color_alert: #a41312;
$color_attention: #a98930;
$color_default: #70a459;
$color_sasha: #949494;




