// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$logo-box-arrow-name: 'logo-box__arrow';
$logo-box-arrow-x: 100px;
$logo-box-arrow-y: 65px;
$logo-box-arrow-offset-x: -100px;
$logo-box-arrow-offset-y: -65px;
$logo-box-arrow-width: 21px;
$logo-box-arrow-height: 20px;
$logo-box-arrow-total-width: 126px;
$logo-box-arrow-total-height: 118px;
$logo-box-arrow-image: '/img/sprite.png';
$logo-box-arrow: (100px, 65px, -100px, -65px, 21px, 20px, 126px, 118px, '/img/sprite.png', 'logo-box__arrow', );
$menu-pic-facts-name: 'menu-pic_facts';
$menu-pic-facts-x: 0px;
$menu-pic-facts-y: 65px;
$menu-pic-facts-offset-x: 0px;
$menu-pic-facts-offset-y: -65px;
$menu-pic-facts-width: 55px;
$menu-pic-facts-height: 53px;
$menu-pic-facts-total-width: 126px;
$menu-pic-facts-total-height: 118px;
$menu-pic-facts-image: '/img/sprite.png';
$menu-pic-facts: (0px, 65px, 0px, -65px, 55px, 53px, 126px, 118px, '/img/sprite.png', 'menu-pic_facts', );
$menu-pic-foto-name: 'menu-pic_foto';
$menu-pic-foto-x: 65px;
$menu-pic-foto-y: 0px;
$menu-pic-foto-offset-x: -65px;
$menu-pic-foto-offset-y: 0px;
$menu-pic-foto-width: 61px;
$menu-pic-foto-height: 49px;
$menu-pic-foto-total-width: 126px;
$menu-pic-foto-total-height: 118px;
$menu-pic-foto-image: '/img/sprite.png';
$menu-pic-foto: (65px, 0px, -65px, 0px, 61px, 49px, 126px, 118px, '/img/sprite.png', 'menu-pic_foto', );
$menu-pic-nums-name: 'menu-pic_nums';
$menu-pic-nums-x: 0px;
$menu-pic-nums-y: 0px;
$menu-pic-nums-offset-x: 0px;
$menu-pic-nums-offset-y: 0px;
$menu-pic-nums-width: 55px;
$menu-pic-nums-height: 55px;
$menu-pic-nums-total-width: 126px;
$menu-pic-nums-total-height: 118px;
$menu-pic-nums-image: '/img/sprite.png';
$menu-pic-nums: (0px, 0px, 0px, 0px, 55px, 55px, 126px, 118px, '/img/sprite.png', 'menu-pic_nums', );
$timeline-mark-name: 'timeline__mark';
$timeline-mark-x: 65px;
$timeline-mark-y: 65px;
$timeline-mark-offset-x: -65px;
$timeline-mark-offset-y: -65px;
$timeline-mark-width: 25px;
$timeline-mark-height: 37px;
$timeline-mark-total-width: 126px;
$timeline-mark-total-height: 118px;
$timeline-mark-image: '/img/sprite.png';
$timeline-mark: (65px, 65px, -65px, -65px, 25px, 37px, 126px, 118px, '/img/sprite.png', 'timeline__mark', );
$logo-box-arrow-2x-name: 'logo-box__arrow@2x';
$logo-box-arrow-2x-x: 200px;
$logo-box-arrow-2x-y: 130px;
$logo-box-arrow-2x-offset-x: -200px;
$logo-box-arrow-2x-offset-y: -130px;
$logo-box-arrow-2x-width: 42px;
$logo-box-arrow-2x-height: 40px;
$logo-box-arrow-2x-total-width: 252px;
$logo-box-arrow-2x-total-height: 236px;
$logo-box-arrow-2x-image: '/img/sprite2x.png';
$logo-box-arrow-2x: (200px, 130px, -200px, -130px, 42px, 40px, 252px, 236px, '/img/sprite2x.png', 'logo-box__arrow@2x', );
$menu-pic-facts-2x-name: 'menu-pic_facts@2x';
$menu-pic-facts-2x-x: 0px;
$menu-pic-facts-2x-y: 130px;
$menu-pic-facts-2x-offset-x: 0px;
$menu-pic-facts-2x-offset-y: -130px;
$menu-pic-facts-2x-width: 110px;
$menu-pic-facts-2x-height: 106px;
$menu-pic-facts-2x-total-width: 252px;
$menu-pic-facts-2x-total-height: 236px;
$menu-pic-facts-2x-image: '/img/sprite2x.png';
$menu-pic-facts-2x: (0px, 130px, 0px, -130px, 110px, 106px, 252px, 236px, '/img/sprite2x.png', 'menu-pic_facts@2x', );
$menu-pic-foto-2x-name: 'menu-pic_foto@2x';
$menu-pic-foto-2x-x: 130px;
$menu-pic-foto-2x-y: 0px;
$menu-pic-foto-2x-offset-x: -130px;
$menu-pic-foto-2x-offset-y: 0px;
$menu-pic-foto-2x-width: 122px;
$menu-pic-foto-2x-height: 98px;
$menu-pic-foto-2x-total-width: 252px;
$menu-pic-foto-2x-total-height: 236px;
$menu-pic-foto-2x-image: '/img/sprite2x.png';
$menu-pic-foto-2x: (130px, 0px, -130px, 0px, 122px, 98px, 252px, 236px, '/img/sprite2x.png', 'menu-pic_foto@2x', );
$menu-pic-nums-2x-name: 'menu-pic_nums@2x';
$menu-pic-nums-2x-x: 0px;
$menu-pic-nums-2x-y: 0px;
$menu-pic-nums-2x-offset-x: 0px;
$menu-pic-nums-2x-offset-y: 0px;
$menu-pic-nums-2x-width: 110px;
$menu-pic-nums-2x-height: 110px;
$menu-pic-nums-2x-total-width: 252px;
$menu-pic-nums-2x-total-height: 236px;
$menu-pic-nums-2x-image: '/img/sprite2x.png';
$menu-pic-nums-2x: (0px, 0px, 0px, 0px, 110px, 110px, 252px, 236px, '/img/sprite2x.png', 'menu-pic_nums@2x', );
$timeline-mark-2x-name: 'timeline__mark@2x';
$timeline-mark-2x-x: 130px;
$timeline-mark-2x-y: 130px;
$timeline-mark-2x-offset-x: -130px;
$timeline-mark-2x-offset-y: -130px;
$timeline-mark-2x-width: 50px;
$timeline-mark-2x-height: 74px;
$timeline-mark-2x-total-width: 252px;
$timeline-mark-2x-total-height: 236px;
$timeline-mark-2x-image: '/img/sprite2x.png';
$timeline-mark-2x: (130px, 130px, -130px, -130px, 50px, 74px, 252px, 236px, '/img/sprite2x.png', 'timeline__mark@2x', );
$spritesheet-width: 126px;
$spritesheet-height: 118px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($logo-box-arrow, $menu-pic-facts, $menu-pic-foto, $menu-pic-nums, $timeline-mark, );
$spritesheet: (126px, 118px, '/img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 252px;
$retina-spritesheet-height: 236px;
$retina-spritesheet-image: '/img/sprite2x.png';
$retina-spritesheet-sprites: ($logo-box-arrow-2x, $menu-pic-facts-2x, $menu-pic-foto-2x, $menu-pic-nums-2x, $timeline-mark-2x, );
$retina-spritesheet: (252px, 236px, '/img/sprite2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$logo-box-arrow-group-name: 'logo-box__arrow';
$logo-box-arrow-group: ('logo-box__arrow', $logo-box-arrow, $logo-box-arrow-2x, );
$menu-pic-facts-group-name: 'menu-pic_facts';
$menu-pic-facts-group: ('menu-pic_facts', $menu-pic-facts, $menu-pic-facts-2x, );
$menu-pic-foto-group-name: 'menu-pic_foto';
$menu-pic-foto-group: ('menu-pic_foto', $menu-pic-foto, $menu-pic-foto-2x, );
$menu-pic-nums-group-name: 'menu-pic_nums';
$menu-pic-nums-group: ('menu-pic_nums', $menu-pic-nums, $menu-pic-nums-2x, );
$timeline-mark-group-name: 'timeline__mark';
$timeline-mark-group: ('timeline__mark', $timeline-mark, $timeline-mark-2x, );
$retina-groups: ($logo-box-arrow-group, $menu-pic-facts-group, $menu-pic-foto-group, $menu-pic-nums-group, $timeline-mark-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
