.buttons-group {
  display: inline-block;
}

.button {
  display: inline-block;
  height: 46px;
  background-color: #ccc;
  line-height: 46px;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0 20px;
  transition: .3s;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10.67px;
  font-family: $mediumfont;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: darken(#ccc, 5%);
  }

  &_width {
    &_100p {
      width: 100%;
    }
    &_180px {
      min-width: 180px;
    }
    &_230px {
      min-width: 180px;
    }
  }
  &_size {
    &_common {
      font: 13.33px $basefont;
      height: 35px;
      line-height: 35px;
      border-radius: 2px;
    }
    &_middle {
      height: 30px;
      line-height: 30px;
      border-radius: 2px;
    }
    &_small {
      font-size: 9.33px;
      height: 20px;
      line-height: 21px;
      border-radius: 1px;
      min-width: 50px;
    }
  }
  &_font-size {
    &_big-text {
      font-size: 13.33px;
    }
  }
  &_color {
    &_common-dark {
      background: $color_common-dark;
      &:hover {
        background: darken($color_common-dark, 5%);
      }
      &.pseudo {
        &:hover {
          background: $color_common-dark;
          cursor: default;
        }
      }
    }
    &_common {
      background: $color_common;
      &:hover {
        background: darken($color_common, 5%);
      }
      &.pseudo {
        &:hover {
          background: $color_common;
          cursor: default;
        }
      }
    }
    &_common-light {
      background: $color_common-light;
      &:hover {
        background: darken($color_common-light, 5%);
      }
      &.pseudo {
        &:hover {
          background: $color_common-light;
          cursor: default;
        }
      }
    }
    &_alert {
      background-color: $color_alert;
      &:hover {
        background-color: darken($color_alert, 5%);
      }
      &.pseudo {
        &:hover {
          background-color: $color_alert;
          cursor: default;
        }
      }
    }
    &_attention {
      background: $color_attention;
      &:hover {
        background: darken($color_attention, 5%);
      }
      &.pseudo {
        &:hover {
          background: $color_attention;
          cursor: default;
        }
      }
    }
    &_default {
      background-color: $color_default;
      &:hover {
        background-color: darken($color_default, 5%);
      }
      &.pseudo {
        &:hover {
          background-color: $color_default;
          cursor: default;
        }
      }
    }
    &_white {
      background: #fff;
      color: #272727;
      border: 1px solid #ccc;
      &:hover {
        background: darken(#fff, 5%);
      }
    }
    &_gray {
      background-color: $color_sasha;
      &:hover {
        background-color: darken($color_sasha, 5%);
      }
      &.pseudo {
        &:hover {
          background-color: $color_sasha;
          cursor: default;
        }
      }
    }
  }
  &_rss {
    background: transparent;
    font: 12px $mediumfont;
    color: #707070;
    &:before {
      content: '';
      position: relative;
      top: -2px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      @include sprite($icon-rss);
    }
    &:hover {
      color: #000;
    }
  }

  &_close,
  &_correct,
  &_temp {
    background-position: 5px 5px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 0 10px 0 30px;
    margin-left: 1px;
  }
  &_close {
    background-image: url("/img/svg/svg-sprite/close.svg");
  }
  &_correct {
    background-image: url("/img/svg/svg-sprite/correct-mark.svg");
  }
  &_temp {
    background-image: url("/img/svg/svg-sprite/clock.svg");
  }
  &_dot {
    min-width: 30px;
    width: 30px;
    padding: 0;
  }
}

.btn-submit{
  width: auto;
  height: 39px;
  border-radius: 2px 3px 3px 2px;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: #3e66c8;
  font-size: 14px;
  @include transition(background, 0.3s, ease, 0s);
  &:hover {
    background: darken(#3e66c8, 5%);
  }
}

.btn-edit {
  margin-right: 5px;
  svg {
    transition: .3s;
    fill: #2e5bc9;
  }
  &:hover {
    svg {
      fill: darken(#2e5bc9, 10%);
    }
  }
}
.btn-trash {
  svg {
    transition: .3s;
    fill: #8f8e8d;
  }
  &:hover {
    svg {
      fill: darken(#8f8e8d, 10%);
    }
  }
}