// MATERIAL ELEMENTS

// audio
.m-audio-player {
  width: 100%;
  display: table;
  margin: 40px 0 20px;
  background: #e8e8e8;
  border: 1px solid #c4c4c4;
  height: 116px;
}
.m-audio-player__cell {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  &:last-of-type {
    width: 140px;
  }
}
.m-audio-player__progress-bar {
  position: relative;
  height: 18px;
  border: 1px solid #c4c4c4;
  background: #fff;
}
.m-audio-player__progress-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  background: #208fff;
}
.m-audio-player__btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  cursor: pointer;
  margin-right: 2px;
  svg {
    transition: .3s;
    width: 45px;
    height: 45px;
    fill: #3e66c8;
  }
  &:hover {
    svg {
      fill: darken(#3e66c8, 10%);
    }
  }
  &.revert {
    transform: rotate(180deg);
  }
}

// video
.m-video-player {
  width: 60%;
  margin: 30px auto;
}

// image
.m-image {
  position: relative;
  width: 60%;
  margin: 30px auto;
  text-align: center;
  img {
    max-width: 100%;
  }
}
.m-image__loop-btn {
  position: absolute;
  outline: none;
  right: 0;
  bottom: -60px;
  img {
    width: 30px;
    height: 30px;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: #3e66c8;
  }
  &:hover {
    svg {
      fill: darken(#3e66c8, 10%);
    }
  }
}

// presentation
.m-presentation {
  position: relative;
  height: 620px;
  background: #e6e6e6;
  padding: 10px;
}
.m-presentation__screen {
  height: 600px;
  background: #fff;
  width: 70%;
  margin: 0 auto;
}
.m-presentation__controls {
  position: absolute;
  right: 0;
  bottom: -58px;
}
.m-presentation__progress-bar {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 10px;
  width: 350px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
}
.m-presentation__progress-slider {
  position: absolute;
  left: 0;
  top: 0;
  background: #208fff;
  height: 18px;
}

// text
.m-text {
  margin: 30px 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}
.m-text__content {
  font-size: 17.33px;
  color: #272727;
  max-height: 670px;
  overflow: auto;
}